#result_area {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 550px;
    margin-left: 15%;
}

.cat {
    width: 40%;
    text-align: center;
}

.cat_additional_area {
    width: 30%;
    text-align: center;
}

.cat_place {
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 225px;
}

.cat_name {
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    padding-top: 225px;
}